<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PalPet</title>
    <!-- Bootstrap CSS v5.3.2 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/f98e4d4157.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Style/extStyle.css">
    <script src="Control/home.js"></script>
</head>
<body>
    <header>
        <div class='dashboard'>
            <div class="dashboard-nav text-center">
                <a href="home.html">
                    <img src="Images/Logo.png" alt="Company Logo" style="width:120px;" class="brand-logo">
                </a>
                <nav class="dashboard-nav-list">
                    <a href="home.html" class="dashboard-nav-item active"><i class="fas fa-home"></i> Home</a>
                    <a href="MatchPet.html" class="dashboard-nav-item"><i class="fas fa-tachometer-alt"></i> MatchPet</a>
                    <a href="#" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> Notifications</a>
                    <div class='dashboard-nav-dropdown'>
                        <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fas fa-photo-video"></i> Media</a>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a href="#" class="dashboard-nav-dropdown-item">All</a>
                            <a href="#" class="dashboard-nav-dropdown-item">Recent</a>
                            <a href="#" class="dashboard-nav-dropdown-item">Images</a>
                            <a href="#" class="dashboard-nav-dropdown-item">Video</a>
                        </div>
                    </div>
                    <a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Settings </a>
                    <div class="nav-item-divider"></div>
                    <a href="#" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout </a>
                </nav>
            </div>
            <div class='dashboard-app'>
            </div>   
        </div>
    </header>
    <main>
        <div class='dashboard-app'>
            <header class='dashboard-toolbar'>
                <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
                <a href="#" class="dashboard-toolbar-item orange-text">
                    <i class="fas fa-user orange-text"></i> Profile
                </a>
            </header>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>

